/target
/data
/datatest
rustybookshelf.db
rustybookshelf.db-wal
rustybookshelf.db-shm
.env
.env.docker
plan.md
covers
backupdata
datatest
/logs
bookresmultipart.json
.gitignore
/audiobooks
graphify-out/
src/ui/node_modules/
src/ui/dist/
